{% extends 'welcome.html' %} 
{% block content %}           
<!--HEADER-->
<header class="main-header">
    <div class="py-3">
          <div class="container">
            <h5 for="">Sitio Administrativo</h5>
              <div class="row">
                  <div class="col-md-6">
                      <section class="bg-white text-black">
                          <div class="container py-3">
                              <div class="row">
                                  <div class="col-md-12">
                                    <!--FORMULARIO DE AUTENTICACIÓN Y AUTORIZACIÓN-->
                                    <form class="form" method="" action="">
                                      <div class="card-header p-0 card-header-primary text-center text-white">
                                        <h6 class="card-title">Autenticación y Autorización</h6>
                                      </div>
                        
                                      <div class="container">
                                          <form>
                                            <div class="form-group d-flex mt-3">
                                              <label class="font-weight-bold" for="grupos">Grupos</label>
                                                    <div class="container d-flex ml-auto justify-content-end">
                                                      <a class="d-inline-block mr-3" href=""><i class="fas fa-plus"></i> Añadir</a>
                                                      <a href=""><i class="far fa-edit"></i> Modificar</a>
                                                    </div>  
                                            </div>
                                            <hr>
                                            <div class="form-group d-flex justify-content-between">
                                              <label class="font-weight-bold" for="Usuarios">Usuarios</label>
                                              <div class="container d-flex ml-auto justify-content-end">
                                                <a class="d-inline-block mr-3" href=""><i class="fas fa-plus"></i> Añadir</a>
                                                <a href=""><i class="far fa-edit"></i> Modificar</a>
                                              </div>  
                                            </div>
                                            <hr>
                                          </form>
                                     </div>
                                    </form>

                                    <!--FORMULARIO DE BLOGS-->
                                    <form class="form" method="" action="">
                                      <div class="card-header p-0 card-header-primary text-center text-white">
                                        <h6 class="card-title">Blog</h6>
                                      </div>
                        
                                     <div class="container">
                                      <form>
                                        <div class="form-group d-flex justify-content-between mt-3">
                                          <label class="font-weight-bold" for="posts">Posts</label>
                                          <div class="container d-flex ml-auto justify-content-end">
                                            <a class="d-inline-block mr-3" href=""><i class="fas fa-plus"></i> Añadir</a>
                                            <a href=""><i class="far fa-edit"></i> Modificar</a>
                                          </div>  
                                        </div>
                                        <hr>
                                      </form>
                                     </div>
                                    </form>

                                  </div>  
                              </div>
                          </div>
                      </section>
                    </div>
                    <div class="col-md-6 text-center">
                      <div class="col-md-6">
                        <div class="container py-3 bg-light">
                          <!--ACCIONES RECINTES-->
                          <form class="form" method="" action="">
                            <div class="p-0 text-center">
                              <h6>Acciones Recientes</h6>
                            </div>
                            <hr>
              
                           <div class="container d-flex d-block">
                              <div class="mt-3">
                                  <div class="row">
                                    <label class="font-weight-bold" for="misacciones">Mis acciones</label>
                                  </div>

                                {% for post in posts %} 
                                    <div class="post">
                                        <div class="date">
                                            <div class="row d-flex flex-column align-items-start">
                                                <a class="mr-3" href=""><i class="fas fa-plus mr-2">{{post.title}}</i></a>
                                                <label class="textsize ml-3" for="">Post</label>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                  
                              </div>
                           </div>
                          </form>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
</header>
{% endblock %}



